.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.App .Container {
  background-color: #3498db;
  padding: 1rem 3rem 1rem 3rem;
  min-width: 50%;
  max-width: 50%;
  min-height: 15%;
  color: #2f3542;
}

.Title {
  font-size: 2rem;
}

.Loading {
  font-size: 1.5rem;
}

.Quote {
  font-size: 1.5rem;
  font-style: oblique;
}
